textarea {
    margin-bottom: 5px;
}

body {
    padding-top: 60px;
}

input, textarea {
margin-botton: 5px;
}

input {
    margin-botton: 10px;
}


a {
    color: #fff;
}

.link {
    color: #000
}

a.glyphicon-plus-color {
    color: #fff;
}

a.glyphicon-cog-color {
    color:#0f0f0f;
}

.navbar {
    background-color: #2b669a;
    border-color: #2b669a;
}

.navbar-default .navbar-brand {
    color: #fff;
}

.navbar-default .navbar-nav>li>a {
    color: #fff;
}

.glyphicon-user {
    color: #fff;
}

.glyphicon-chevron-left {
    color: #fff;
}

.glyphicon-ok {
    color: #fff;
}

.glyphicon-cog {
    color: #000000;
}

.jr-split-view-right {
    position: absolute;
    top: 60px;
    bottom: 0px;
    overflow-y: scroll;
}


.jr-split-view-left {
    position: absolute;
    top: 60px;
    bottom: 0px;
    overflow-y: scroll;
}

@media (min-width: 1200px) {
    .col-lg-9.jr-split-view-right {
        width: 75%;
        position: absolute;
        right: 0px;
        top: 60px;
        bottom: 0px;
        overflow-y: scroll;

    }
    
}

.navbar-nav>li, .navbar-nav {
    float: left !important;
}

.blackbackground {
    background-color: black;
}
