<!DOCTYPE html>
<html lang="en" ng-app="WamApp">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <script src="../../vendor/angular/angular.js"></script>
    <script src="app.js"></script>
    <!--<link href="https:maxcdn.boostrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet"/> -->
    <link href="../../vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet"/>
    <link href="../css/style.css" rel="stylesheet"/>
</head>
<body>


<div class="container-fluid">
    <div ng-controller="loginController">

        <div ng-show="welcomeUser" class="alert alert-info">
            Welcome back{{welcomeUser.username}}
        </div>

        <label for="username">Username</label>
        <input name="username"
               ng-model="user.username"
               placeholder="username"
               class="form-control"
               id="username"/>

        <label for="password">Password</label>
        <input name="password"
               ng-model="user.password"
               type="password"
               placeholder="password"
               class="form-control"
               id="password"/>


        <a class="btn btn-default btn-primary btn-block"
           ng-click="login(user)"
           role="button">Login</a>

        <a class="btn btn-default btn-success btn-block"
           href="register.html"
           role="button">Register</a>

    </div>
</div>
</body>
</html>