<nav class="navbar navbar-fixed-top">
    <div class="container-fluid">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">


            <ul class="nav navbar-nav navbar-left">
                <li><a class="glyphicon-cog-color"
                       href="#!/user/{{model.userId}}/website/{{website._id}}/page/{{model.pageId}}">
                    <span class="glyphicon glyphicon-chevron-left pull-left"> </span>
                </a>
            </ul>
            <a class="navbar-brand" href="#">Choose Widget</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">

            </ul>

            <ul class="nav navbar-nav navbar-right">
                <li><a class="glyphicon-cog-color"
                       href="#!/user/{{model.userId}}/website/{{model.websiteId}}/page/{{model.pageId}}/new">
                    <span class="glyphicon glyphicon-plus pull-right"> </span>
                </a>

            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>


<nav class="navbar navbar-fixed-bottom">
    <div class="container-fluid">
        <ul class="nav navbar-nav navbar-right">
            <li><a class="glyphicon-cog-color" href="#!/profile/{{model.userId}}">
                <span class="glyphicon glyphicon-user pull-right"> </span>
            </a>
        </ul>

    </div>
</nav>


<div class="container-fluid">

    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <a class="glyphicon glyphicon-cog-color"
                   ng-click="model.createWidget(model.pageId, model.widget)"
                   href="widget-HEADING.view.client.html">Heading</a>
            </div>
            <div class="col-xs-3"></div>
            <div class="col-sm-3 hidden-xs"></div>
            <div class="col-xs-3">
            </div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <a class="glyphicon glyphicon-cog-color"
                   ng-click="model.createWidget(model.pageId, model.widget)"
                   href="widget-IMAGE.view.client.html">Image</a>
            </div>
            <div class="col-xs-3"></div>
            <div class="col-sm-3 hidden-xs"></div>
            <div class="col-xs-3">
            </div>
        </div>
    </li>

    <li class="list-group-item">
        <div class="row">
            <div class="col-xs-6 col-sm-3">
                <a class="glyphicon glyphicon-cog-color"
                   ng-click="model.createWidget(model.pageId, model.widget)"
                   href="widget-YOUTUBE.view.client.html">Youtube</a>
            </div>
            <div class="col-xs-3"></div>
            <div class="col-sm-3 hidden-xs"></div>
            <div class="col-xs-3">
            </div>
        </div>
    </li>

</div>
